{% extends 'layout.html' %}

{% block body %}
  <div class='jumbotron'>
    <h3 class='text-center'><em>Gesamt</em>-onomics</h3>
    <hr>
        <p><small><small>
            Gesamt, its German for <em>whole</em>.
            The purpose of this database is to connect
            readers with interesting articles in from mathematical
            and physical science fields.<br>
            The database is updated periodically.
        </small></small></p>
  </div>

  <div class='jumbotron'>
    <h3 class='text-center'>Development</h3>
    <hr>
        <p><small><small>
            Gesamt is written in Python and utilizes
            the <a href='http://flask.pocoo.org/' target='_blank'>Flask API</a>.
            This is a project developed by
            <a href='http://hanphps.github.io/' target='_blank'>Hannah Phillips</a>.
        </small></small></p>
  </div>
{% endblock %}
