<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>Gesamt</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css'>
  </head>
  <body>

    <nav class='navbar navbar-default'>
      <div class='container-fluid'>
        <div class='navbar-header'>
          <a class='navbar-brand' href="{{ url_for('index') }}">
            Gesamt
          </a>
          <ul class="nav navbar-nav">
          <li><a href="{{ url_for('index') }}">Home</a></li>
          <li><a href="{{ url_for('about') }}">About</a></li>
          <li><a href='https://github.com/hanphps/gesamt-app' target='_blank'>Github</a></li>
        </ul>
        </div>
      </div>
    </nav>

    <div class='container'>
      {% block body %}{% endblock %}
    </div>

    <hr>
    <div class='container'>
      <p class='text-center'>
        All copyrights belong to their respective owners.
      </p>
    </div>

    <script src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js'></script>
  </body>
</html>
